
h1 { font-size: 36px; font-family: Verdana, Arial, "Courier New", Courier }
h2 { font-size: 25px; font-family: Verdana, Arial, "Courier New", Courier }
p { font-size: 12pt; font-family: Verdana, Arial, "Courier New", Courier; text-align: left; text-indent: 0px }