.accordion {
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    margin: 3rem 0;
    background-color: #f9f9f9;
    /* passt zur Seite */
}

/* Abstand zwischen Items */
.accordion-item+.accordion-item {
    border-top: 1px solid #ddd;
}

.accordion-header {
    all: unset;
    display: block;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    padding: 0.7rem;
    cursor: pointer;
    background-color: var(--accent);
    border: none;
}

/* Optional: Add hover/focus styles */
.accordion-header:hover,
.accordion-header:focus {
    background-color: var(--accent-hover);
}

.accordion-header.active {
    background-color: #a0d0ff;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background-color: #fff;
    padding: 0 1rem;
}

.accordion-content p {
    padding: 1rem 0;
    margin: 0;
}