#map-parking {
    width: 100%;
    height: 40vh;
}

article {
    display: flex;
    flex-direction: column;
}

.description-aligner {
    flex-grow: 1;
}

main img {
    width: 80%;
    align-self: center;
}