{% extends "base.html" %}
{% block head %}
{{ self::create_title(page="Für Firmen") }}
{% endblock head %}
{% block nav %}
{{ self::create_nav(page="Für Firmen") }}
{% endblock nav %}
{% block body %}
<main>
    <h1>Effiziente Mobilitäts-lösungen für Ihr Unternehmen</h1>
    <p>
        Mit Teilauto Mössingen bieten wir Firmenkunden ein innovatives Mobilitätskonzept, das nicht nur Kosten senkt,
        sondern auch Ihre betriebliche Flexibilität steigert. Statt in teure Poolwagen zu investieren, profitieren Sie
        von
        unserem Fahrzeugsharing-Modell - einfach, effizient und wirtschaftlich.
    </p>

    <h2>Ihre Vorteile im Überblick:</h2>
    <ul>
        <li>
            <strong>Kosteneinsparungen</strong><br>
            Reduzieren Sie Investitions- und Unterhaltskosten, da Sie nur für die tatsächliche Nutzung
            zahlen. Unser Modell ersetzt den klassischen Poolwagen und senkt so den Fuhrparkaufwand.
        </li>
        <li>
            <strong>Flexibilität</strong><br>
            Unsere moderne Flotte steht Ihren Mitarbeitern jederzeit zur Verfügung. Die bedarfsgerechte
            Nutzung ermöglicht eine optimale Auslastung und minimiert Leerfahrten.
        </li>
        <li>
            <strong>Nachhaltigkeit</strong><br>
            Durch den gemeinsamen Einsatz der Fahrzeuge verringern Sie nicht nur Ihren ökologischen
            Fußabdruck, sondern positionieren Ihr Unternehmen auch als umweltbewusster Vorreiter.
        </li>
        <li>
            <strong>Einfache Verwaltung</strong><br>
            Dank regelmäßiger Wartung entfällt der organisatorische
            und administrative Aufwand eines eigenen Fuhrparks.
            Selbst die Verwaltung des Stellplatzes übernehmen wir für Sie!
        </li>
    </ul>

    Entscheiden Sie sich für Teilauto Mössingen und erleben Sie, wie Sie durch intelligente Mobilitätskonzepte nicht nur
    Geld sparen, sondern auch einen wichtigen Beitrag zur nachhaltigen Unternehmensentwicklung leisten. Gemeinsam
    gestalten wir die Zukunft der Unternehmensmobilität - effizient, modern und kostensparend.
</main>
{% endblock body %}