{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="index.css">
<title>teilAuto Mössingen</title>
{% endblock head %}
{% block nav %}
{{ self::create_nav() }}
{% endblock nav %}
{% block body %}
<div class="parallax-bg"></div>
<div id="main-content">
    <header id="hero">
        <img src="img/talogo.svg" alt="teilAuto Logo">
        <p>Die sparsame Art (k)ein Auto zu haben</p>
    </header>
    <main>
        <section>
            <article id="benefits">
                <h4>Preiswert</h4>
                <p>Studien bestätigen es: Für einen Großteil der deutschen Haushalte ist Carsharing günstiger als ein eigenes Auto.<br>Wie viel das sein kann erfahren Sie in unserem interaktiven Rechner.</p>
                <a href="preise.html" class="button">Zum Rechner</a>
                <span class="spacer"></span>
                <h4>Nachhaltig</h4>
                <p>Jeder redet von Umweltschutz - wir engagieren uns seit über 20 Jahren dafür!&shy; Erfahren Sie jetzt wie auch Sie mit Carsharing einen kleinen Beitrag zur Rettung des Planeten leisten können.</p>
                <a href="nachhaltig.html" class="button">Weiterlesen</a>
                <span class="spacer"></span>
                <h4>Regional und deutschlandweit</h4>
                <p>Ob Sie nur zum Einkaufen wollen oder einen Umzug planen - mit teilAuto sind Sie flexibel und unabhängig. Welche Fahrzeuge Ihnen als Mitglied zur Verfügung stehen lesen Sie hier.</p>
                <a href="fahrzeuge.html" class="button">Zu den Fahrzeugen</a>
            </article>
        </section>
        <section id="howto">
            <h2>So geht's</h2>
            <p>
                Beim Carsharing nutzen mehrere Personen gemeinsam ein oder mehrere Fahrzeuge,
                wobei eine Carsharing&#8209;Organisation die Verwaltung, Vermietung und Abrechnung übernimmt.
            </p>
            <div id="howto-items">
                <article>
                    <figure><img src="img/phone.png" alt="Telefon abbildung"></figure>
                    <div class="howto-item-spacer"></div>
                    <hgroup>
                        <h4>Buchen</h4>
                        <p>
                            Sie telefonieren mit der Buchungszentrale und lassen sich das teilAuto reservieren. Auch die Möglichkeit der Quernutzung bei anderen Carsharing-Organisationen ist gegegeben, wodurch Sie Zugriff auf viele weitere Fahrzeuge haben.
                        </p>
                    </hgroup>
                </article>
                <span class="howto-flow-arrow material-symbols-outlined">keyboard_arrow_down</span>
                <article>
                    <figure><img src="img/car.png" alt="Telefon abbildung"></figure>
                    <div class="howto-item-spacer"></div>
                    <hgroup>
                        <h4>Fahren</h4>
                        <p>
                            Das teilAuto wird am Stellplatz abgeholt. Sie tragen die Abfahrtszeit und den
                            Kilometerstand ins Fahrtenbuch ein.
                            Danach stellen Sie das teilAuto wieder am Stellplatz ab und tragen die km und das
                            Fahrzeitende
                            wieder ins Fahrtenbuch ein
                        </p>
                    </hgroup>
                </article>
                <span class="howto-flow-arrow material-symbols-outlined">keyboard_arrow_down</span>
                <article>
                    <figure><img src="img/coins.png" alt="Telefon abbildung"></figure>
                    <div class="howto-item-spacer"></div>
                    <hgroup>
                        <h4>Sparen</h4>
                        <p>
                            Nach jedem Monat erhalten Sie eine Rechnung, die etwa 10 Tage nach Erhalt von Ihrem Konto abgebucht wird
                            Die Summe liegt für Nutzer, die etwa 14.000 km im Jahr fahren, in der Regel deutlich unter dem, was sie für ein eigenes Auto bezahlen würden.
                        </p>
                    </hgroup>
                </article>
            </div>
        </section>
        <section id="faq">
            {% include "accordion.html" %}
        </section>
        <section>
            <h2>Wer kann teilAutos nutzen?</h2>
            <div id="users" class="simple-list-layout">
                <article>
                    <h3>Privatpersonen</h3>
                    <p>
                        <strong>Nur Mitglieder</strong> dürfen unsere teilAutos fahren.
                        Bei der Anmeldung werden Personalien und Führerschein überprüft.
                        Ab dann genügt ein Anruf, bei dem das gewünschte Auto für den benötigten Zeitraum reserviert
                        wird
                    </p>
                    <span class="users-button-aligner"></span>
                    <span><a href="mitglied-werden.html" class="button">Mitglied werden</a></span>
                </article>
                <article>
                    <h3>Geschäftskunden</h3>
                    <p>
                        Auch Sie können von teilAutos profitieren.
                        Das spart Ihnen Kosten und Verwaltungsaufwand,
                        oder kann zeitweilige Engpässe überbrücken
                    </p>
                    <span class="users-button-aligner"></span>
                    <span><a href="geschaeftskunden.html" class="button">Mehr erfahren</a></span>
                </article>
            </div>
        </section>
    </main>
</div>
{% endblock body %}