{% extends "base.html" %}
{% block head %}
{{ self::create_title(page="Über uns") }}
{% endblock head %}
{% block nav %}
{{ self::create_nav(page="Über uns") }}
{% endblock nav %}
{% block body %}
<main>
    <h1>Über uns</h1>
    <article>
        <p>
            teilAuto Mössingen, das sind wir: Firmeninhaber Ralf Stahl und
            Ursula&nbsp;Stahl (Buchungszentrale / "Office-Managerin").
        </p>
        <p>
            Das Unternehmen entstand auf private Initiative im Jahr 2000. Wir waren zuvor Mitglied beim Projekt
            teilAuto des damaligen Vereins Ökostadt Tübingen. Der dortige Verein steckte selbst noch in den
            Anfängen, und eine Erweiterung des Angebots auf Mössingen war noch nicht in Sicht. Da wir jedoch vom
            Konzept und der Nachhaltigkeit des Autoteilens überzeugt waren, beschlossen wir, selbst die Initiative
            zu ergreifen und unser - zunächst einziges und nur wenig genutztes - Fahrzeug mit anderen zu teilen.
        </p>
        <p>
            Wir gaben der Sache einen offiziellen Rahmen, meldeten ein Gewerbe in der Rechtsform des eingetragenen
            Kaufmanns (e.K.) an und konnten nach und nach immer mehr Nutzer dazugewinnen. Im Jahr 2025 sind über 60
            Fahrtberechtigte angemeldet. Darunter befinden sich sowohl Privatpersonen als auch Firmen und Behörden.
        </p>
        <p>
            Für die einen ist es die Ausweichmöglichkeit zu Fahrrad und ÖPNV, für die anderen das hin und wieder
            benötigte Zweitauto, wieder andere möchten nur ein „backup“, falls das eigene Fahrzeug einmal ausfällt.
            Bei dieser Aufteilung reichen derzeit unsere zwei Fahrzeuge aus, ohne dass nennenswerte Engpässe
            entstehen. Bei weiterem Wachstum wird der Fuhrpark entsprechend vergrößert.
        </p>
        <p>
            Da wir das Unternehmen nebenberuflich und im Grunde ehrenamtlich führen, ist die Verwaltung sehr
            schlicht gehalten: das Buchen der Fahrzeuge erfolgt bis heute telefonisch, ist jedoch fast rund um die
            Uhr möglich; Auswertung der Fahrberichte, Abrechnung sowie Pflege und Wartung der Fahrzeuge findet am
            Feierabend und am Wochenende statt. Beim jetzigen Umfang des Betriebs ist das gut zu bewältigen, und
            auch Zuwachs ist ohne Probleme möglich. Sollte sich das ändern, kommt auch bei uns ein
            online-Buchungssystem und die Nutzung von Bordcomputern ins Spiel. Ab da wird es auch gewerbliche
            Büroräume und Personal geben.
        </p>
    </article>
</main>
{% endblock body %}