{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="mitglied-werden.css">
{{ self::create_title(page="Mitglied werden") }}
{% endblock head %} 
{% block nav %}
{{ self::create_nav() }}
{% endblock nav %}
{% block body %}
<main>
    <h1>Werden Sie jetzt Mitglied bei uns!</h1>
    <div class="simple-list-layout">
        <article>
            <h2>Per Mail</h2>
            <form id="contact-form" onsubmit="alert('Ihre nachricht wurde versendet')">
                <label class="form-name">
                    Name:<br>
                    <input type="text" name="name" required>
                </label>
                <label class="form-mail">
                    Email:<br>
                    <input type="email" name="email" required>
                </label>
                <label class="form-subject">
                    Betreff:<br>
                    <input type="text" name="subject" required>
                </label>
                <label class="form-message">
                    Nachricht:<br>
                    <textarea name="message" rows="5" required></textarea>
                </label>
                <button type="submit" class="form-submit">Senden</button>
            </form>
        </article>
        <article>
            <h2>Rufen Sie an</h2>
            <ul>
                <li>
                    Termin vereinbaren unter der Telefonnummer 07473-922202 können Sie einen Termin mit uns
                    vereinbaren, auch abends und samstags
                </li>
                <br>
                <li>
                    Personalausweis/Reisepass, Führerschein und Sicherungseinlage mitbringen; wir nehmen dann Ihrer
                    Personalien auf, erklären Ihnen die Einzelheiten über Ausleihe, Fahrzeuge etc., und im Gegenzug
                    erhalten Sie den Tresorschlüssel, mit dem Sie Zugang zu den Fahrzeugen haben.
                </li>
            </ul>
        </article>
    </div>
</main>
{% endblock body %}