#contact-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr auto;
    gap: 1rem;
    grid-template-areas:
        "form-name form-name"
        "form-mail form-mail"
        "form-subject form-subject"
        "form-message form-message"
        "form-message form-message"
        "form-message form-message"
        "form-submit form-submit";
}

.form-name {
    grid-area: form-name;
}

.form-mail {
    grid-area: form-mail;
}

.form-subject {
    grid-area: form-subject;
}

.form-message {
    grid-area: form-message;
}

.form-submit {
    grid-area: form-submit;
}

label {
    display: flex;
    flex-direction: column;
    min-width: 0;
}

input, textarea, button {
    padding: 0.4rem;
    border: none;
    border-radius: 5px;
    background: #eeeeee;
    font: inherit;
}

textarea {
    flex-grow: 1;
    resize: none;
}

@media (orientation: landscape) {
    #contact-form {
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr auto;
        grid-template-areas:
            "form-name form-mail"
            "form-subject form-subject"
            "form-message form-message"
            "form-message form-message"
            "form-message form-message"
            "form-submit form-submit";
    }
}