{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="preise.css">
{{ self::create_title(page="Preise") }}
{% endblock head %}
{% block nav %}
{{ self::create_nav(page="Preise") }}
{% endblock nav %}
{% block body %}
<main>
    <h1>Preise</h1>
    <div id="price-tables">
        <table>
            <tbody>
                <tr>
                    <th colspan="2">Sicherungseinlage</th>
                </tr>
                <tr>
                    <td>Erstnutzer</td>
                    <td>490,-</td>
                </tr>
                <tr>
                    <td>Zweitnutzer</td>
                    <td>200,-</td>
                </tr>
                <tr>
                    <td>Firmen</td>
                    <td>740,-</td>
                </tr>
                <tr>
                    <th colspan="2">Grundgebühr (jährlich)</th>
                </tr>
                <tr>
                    <td>Erstnutzer</td>
                    <td>34,-</td>
                </tr>
                <tr>
                    <td>Zweitnutzer</td>
                    <td>0,-</td>
                </tr>
                <tr>
                    <td>Firmen</td>
                    <td>34,-</td>
                </tr>
            </tbody>
        </table>
        <table>
            <tbody>
                <tr>
                    <th>Fahrzeug-klassen</th>
                    <th>Tarife</th>
                    <th>Beispiele</th>
                </tr>
                <tr>
                    <td>B-Kleinwagen</td>
                    <td>XS</td>
                    <td>Opel Adam</td>
                </tr>
                <tr>
                    <td>C-Kleinwagen</td>
                    <td>M</td>
                    <td>Opel Mokka</td>
                </tr>
            </tbody>
        </table>
        <table>
            <tbody>
                <tr>
                    <th>Zeitraum</th>
                    <th>XS</th>
                    <th>M</th>
                </tr>
                <tr>
                    <td>Tag (7.00-24.00)</td>
                    <td>2,05</td>
                    <td>2,46</td>
                </tr>
                <tr>
                    <td>Folge ab 9.h</td>
                    <td>1,00</td>
                    <td>1,25</td>
                </tr>
                <tr>
                    <td>Nacht (0.00-7.00)</td>
                    <td>0,65</td>
                    <td>0,75</td>
                </tr>
                <tr>
                    <td>Normal</td>
                    <td>0,32</td>
                    <td>0,36</td>
                </tr>
            </tbody>
        </table>
    </div>
</main>
{% endblock body %}